# Python Bytecode & Cache
__pycache__/
*.py[cod]
*.pyd

# Logs & temporäre Dateien
*.log
*.tmp
*.bak

# Virtuelle Umgebungen
.venv/
venv/

# Temporäre Render-Ausgabe (z. B. von pdftoppm)
tmp/
tmp/*
/tmp/pdf_dupe_pages/

# System-/IDE-Dateien
.DS_Store
